@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    :root {
        interpolate-size: allow-keywords;
    }

    :root:has(:modal) {
        overflow: clip;
    }

    body {
        margin: unset;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* 8. Improve line wrapping */
    p {
        text-wrap: pretty;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    @media (prefers-reduced-motion: reduce) {

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    @view-transition {
        navigation: auto;
    }

    /* *:not(:defined) {
        visibility: hidden;
    } */


    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin-block-end: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vb;
        -webkit-font-smoothing: antialiased;
    }

    * {
        line-height: 1.5;
    }



    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
        text-underline-offset: 0.15em;
        text-decoration-thickness: max(1px, 0.0625rem);
    }

    /* Make images easier to work with */
    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }
}

@layer layout {
    body {
        padding: 1rem;
    }

    header {
        margin-block-end: 1rem;
    }

    h1 {
        margin: 4rem;
    }

    p.intro {
        max-inline-size: 600px;
        margin: 0 auto 2rem;
    }

    main {
        margin: 0 auto;
        max-inline-size: 900px;
    }

    .top-buttons,
    .bottom-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 1rem 0;
    }

    button {
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        display: inline-flex;
        align-items: center;
        gap: 0.4rem;

        svg {
            inline-size: 1em;
            block-size: 1em;
        }

        &:hover {
            transform: translateY(-2px);
            border-width: 1px;
            border-style: solid;
        }

        &:active {
            transform: translateY(0);
        }
    }

    .board-container {
        margin: 2rem auto;
        display: inline-block;
        padding: 1rem;
        border-width: 1px;
        border-style: solid;

        @media (width < 1024px) {
            zoom: 0.7;
        }

    }

    .board {
        display: inline-block;
    }

    .flip {
        display: inline-block;
        position: relative;
        inline-size: 14px;
        block-size: 35px;

        @media (min-width: 1024px) {
            margin-inline-end: 5px;
            inline-size: 20px;
        }

        overflow: hidden;

        &:last-child {
            margin-inline-end: 0;
        }

        ul {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;

            li {
                display: inline-block;
                inline-size: 20px;
                block-size: 35px;
            }
        }
    }


    .final-char {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 100%;
        block-size: 100%;
        display: inline-block;
    }


    footer {
        margin: 2rem 0 1rem;
    }


    .faq {
        margin: 2rem auto 3rem;
        max-inline-size: 700px;

        h2 {
            margin-bottom: 1rem;
        }

        details {
            margin-bottom: 0.5rem;
            padding: 0.5rem;
        }

        p {
            margin-block-start: 0.5rem;
        }
    }

    .github-link {
        position: absolute;
        inset-block-start: 1rem;
        inset-inline-end: 1rem;
        background-color: white;

        img {
            inline-size: 50px;
        }
    }

    details {
        block-size: 2.5rem;

        &[open] {
            block-size: auto;
            overflow: clip;
        }
    }
}


@layer appearance {
    body {
        background: #222;
        color: #fff;
    }

    p.intro {
        color: #ccc;
    }

    button {
        cursor: pointer;
        background: #ff0062;
        color: #fff;
        border-radius: 4px;

        svg {
            fill: currentColor;
        }

        &:hover {
            background: #ff397d;
            border-color: #ff397d;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        &:active {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }

    .board-container {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        background: #1a1a1a;
        border-color: #444;
    }

    .flip {
        background: #111;
        border-radius: 4px;

        ul {
            pointer-events: none;

            li {
                line-height: 35px;
                font-size: 18px;
                text-align: center;
                color: gold;
                font-family: monospace;
            }
        }
    }

    .final-char {
        color: #fff;
        pointer-events: auto;
    }

    .faq {
        details {
            background: #333;
            border-radius: 4px;
            color: #ccc;
            cursor: pointer;
        }

        summary {
            color: #fff;
            outline: none;
        }
    }

    .github-link {
        background-color: white;
    }
}

@layer typography {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
        text-align: center;
        line-height: 1.5;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    p.intro {
        font-size: 1rem;
    }


    button {
        font-size: 1rem;

    }


    /* The flipping board for 36 chars, inline in one row */

    .board {
        white-space: nowrap;
    }

    .flip {
        vertical-align: top;

        ul {
            -webkit-user-select: none;
            user-select: none;

            li {
                font-size: 18px;
                text-align: center;
                font-family: monospace;
            }
        }
    }

    .final-char {
        line-height: 35px;
        font-size: 18px;
        font-family: monospace;
        text-align: center;
        -webkit-user-select: text;
        user-select: text;
        white-space: nowrap;
    }

    .faq {
        text-align: left;

        h2 {
            font-size: 1.3rem;
            font-weight: 600;
        }

        summary {
            font-weight: 500;
            outline: none;
        }

        p {
            font-size: 0.95rem;
            line-height: 1.4;
        }
    }
}

@layer animation {


    button {
        transition: background 0.3s ease, transform 0.2s ease, border 0.3s ease;
    }

    .flip {
        ul {
            transition: top 0.1s linear;
        }
    }

    @supports (interpolate-size: allow-keywords) {

        details {
            transition: block-size 0.5s ease;
        }
    }

}